.card-comments img {
  width: 4rem; }


.moreText {
  display: none;
}
.read-more-btn {
  background-color: #ffffff;
  color: rgb(53, 49, 49);
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.read-more-btn-story {
  background-color: #ffffff;
  color: rgb(53, 49, 49);
  border: none;
  outline: none;
  font-size: 15px;
  cursor: pointer;
}

.text.show-more .moreText {
  display: inline;
}
.text.show-more .dots {
  display: none;
}

.toggle-text {
  display: none;
}

