<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{##}
{#    <p> {{ key }} </p>#}
{#    <p> {{ value }} </p>#}

      <!-- Fusce, Section 4 -->
{#{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}#}

{# {% for key, value in d.items() %}#}
{#  {{ loop.cycle('odd', 'even') }} #}
{#{% endfor %}#}
{#{% for i in d %}#}
{#    {% if loop.index is divisibleby 2 %}#}
{#        even#}
{#     {% else %} odd#}
{##}
{#    {% endif %}#}
{#{% endfor %}#}


 {% for key, value in d.items() %}
     {% if loop.index is divisibleby 2 %}
      <section id="our_place">
        <div class="container-fluid">
          <div class="row">
            <div
              class="col-md-12 col-lg-6 tm-section-image-container tm-img-left-container"
            >
              <img src="static/img/ai1.jpg" alt="Image" class="img-fluid" />
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="tm-section-text-container-2">
                <h2
                  class="tm-text-primary tm-section-title-mb tm-sm-bg-white-alpha"
                >
                    <p style="text-align:justify">{title}</p>

                </h2>
                <div class="tm-text-gray">
                  <p class="mb-4">

                      <p style="text-align:justify">{article}</p>

                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

     {% else %}

      <section id="section_4" class="tm-section-4">
        <div class="container-fluid">
          <div class="row flex-column-reverse flex-lg-row">
            <div class="col-md-12 col-lg-6 tm-text-left-container">
              <div class="tm-section-text-container-3 tm-bg-white-alpha h-100">
                <h2 class="tm-text-accent tm-section-title-mb">

{#                    <p style="text-align:justify"> {{ loop.index }} - {{ key }}</p>#}
{#                    {% forloop.counter %}#}
                </h2>
                <p class="mb-0">
                    <p style="text-align:justify">{{ value }}</p>
                </p>

              </div>
            </div>
            <div
              class="col-md-12 col-lg-6 tm-section-image-container tm-img-right-container"
            >
              <img
                src="static/img/forty_image_02.jpg"
                alt="Image"
                class="img-fluid tm-img-right"
              />
            </div>
          </div>
        </div>
      </section>
     {% endif %}
    {% endfor %}

</body>
</html>